<form class="example-form" fxLayout="column" fxLayoutAlign="space-evenly start">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>First name</mat-label>
    <input matInput placeholder="" value="" />
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Last name</mat-label>
    <input matInput placeholder="" value="" />
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Phone Number</mat-label>
    <input matInput placeholder="" value="" />
  </mat-form-field>

  <mat-card-actions>
    <button mat-raised-button color="primary">Add</button>
    <button mat-button>Cancel</button>
  </mat-card-actions>
</form>
