<div fxFlex="100" fxFlex.gt-sm="80" fxFlex.lg="50" style="margin: auto;">
  <app-toolbar [appName]="appName"></app-toolbar>

  <div>
    <mat-button-toggle-group aria-label="Contact List">
      <mat-button-toggle (click)="toggleEditor('contact-list')"
        >Contact List</mat-button-toggle
      >
      <mat-button-toggle (click)="toggleEditor('add-contact')"
        >Add Contact</mat-button-toggle
      >
    </mat-button-toggle-group>

    <mat-card *ngIf="showListContact">
      <app-contact-list></app-contact-list>
    </mat-card>

    <mat-card *ngIf="showAddContact">
      <app-add-contact></app-add-contact>
    </mat-card>
  </div>
</div>
